.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    align-items: center;
    padding: 15rem 0 10rem;
    overflow-x: hidden;
  }
  
  .left-side {
    flex: 3;
    /* max-width: 600px; */
  }
  
  .about_subheading{
    margin-top: 5rem;
  }
  
  .about_subheading p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  span {
    background-color: var(--second-black);
    padding: 0.5rem;
    border-radius: 8px;
    color: var(--text-color1);
    width: 20rem;
  }
  
  .about_heading h2 {
    font-size: 3.6rem;
    margin-bottom: 3rem;
    text-align: left;
    color: var(--text-color2);
  }
  
  
  .about_info {
    margin-bottom: 2rem;
    color: var(--text-color2);
  }
  
  .para {
    max-width: 100%;
    margin-top: -2rem;
    text-align: left;
  }
  
  .right-side {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-side img {
    border: 2px solid var(--text-color);
  }
  
  button {
    height: 3rem;
    width: 8rem;
    margin-bottom: 3rem;
    border: 1px solid var(--green-1);
    color: var(--green-1);
    background: transparent;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--green-1);
    color: var(--green-1);
    margin-top: -3rem;
  }
  
  
  h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .about-container {
      margin-top: 10rem;
      flex-direction: column;
      gap: 3rem;
      align-items: center;
      padding: 0;
    }
  
    .left-side,
    .right-side {
      max-width: 100%;
    }
  
    .left-side {
      margin-top: 0rem;
    }

    .about_heading h2 {
        font-size: 2.2rem;
      }

      .about_subheading p {
        font-size: 1.2rem;
      }

      span {
        width: 14rem;
      }
      
  
    button {
      width: 100%;
      background: transparent;
      border: 1px solid var(--green-1);
      border-radius: 4px;
      color: var(--green-1);
      transition: 0.3s ease-in-out;
    }
  
    button:hover {
      transform: scale(1.1)translateY(-5px);
      box-shadow: 0 0 25px var(--green-1);
    }
  
    h1 {
      font-size: 1.8rem;
    }
  
    h2 {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width: 480px) {
      button {
          width: 100%;
        }
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1.2rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  }
  